@page "/tasks"
@using ProjectsProject.Localization
@using ProjectsProject.ToDoTasks
@using Severity=ProjectsProject.Enums.Severity
@inherits MudCrudPageBase<ProjectsProject.ToDoTasks.IToDoTasksAppService, ProjectsProject.ToDoTasks.ToDoTaskDto, Guid, Volo.Abp.Application.Dtos.PagedAndSortedResultRequestDto, ProjectsProject.ToDoTasks.ToDoTaskWriteDto>
@inject AbpBlazorMessageLocalizerHelper<ProjectsProjectResource> LH

@{
    RenderFragment<ToDoTaskWriteDto> taskForm = dto =>
        @<div>
            <MudTextField @bind-Value="@dto.Name" 
                          Label=@L["Name"]
                          For=@(() => dto.Name) />
            <br />
            <MudTextField @bind-Value="@dto.Description" 
                          Label=@L["Description"]
                          Lines="5"
                          For=@(() => dto.Description) />
            <br />
            <MudSelect T="Severity" 
                       @bind-Value="dto.Severity"
                       Label=@L["Severity"]>
                @foreach (Severity severityValue in Enum.GetValues<Severity>())
                {
                    <MudSelectItem Value="@severityValue">
                        @L[$"Enum:Severity:{(int)severityValue}"]
                    </MudSelectItem>
                }
            </MudSelect>
            <br />
            <ProjectSelect @bind-ProjectId="@dto.ProjectId"/>
            <br />
            <LabelsSelect @bind-LabelIds="@dto.LabelIds"/>
        </div>;
}

<MudDataGrid T="ToDoTaskDto"
             @ref="DataGrid"
             Striped="true"
             Hideable="true"
             Elevation="8"
             ServerData="LoadServerData">
    <ToolBarContent>
        <MudText Typo="Typo.h5">@L["ToDoTasks"]</MudText>
        <MudSpacer />
        <MudButton Color="Color.Primary"
                   Variant="Variant.Outlined"
                   Disabled="!HasCreatePermission"
                   OnClick="OpenCreateModalAsync">
            @L["NewToDoTask"]
        </MudButton>
    </ToolBarContent>
    <Columns>
        <MudBlazor.Column T="ToDoTaskDto"
                          Field="@nameof(ToDoTaskDto.Id)"
                          Hideable="false"
                          Groupable="false"
                          Title="@L["Actions"]">
            <CellTemplate>
                @if (HasUpdatePermission)
                {
                    <MudIconButton Icon="fas fa-edit" 
                                   OnClick="@(async _ => { await OpenEditModalAsync(context.Item); })"
                                   Size="Size.Small" />
                }
                @if (HasDeletePermission)
                {   
                    <MudIconButton Icon="fas fa-trash" 
                                   OnClick="@(async _ => { await DeleteEntityAsync(context.Item);} )"
                                   Size="Size.Small" />
                }
            </CellTemplate>
        </MudBlazor.Column>
        <MudBlazor.Column T="ToDoTaskDto"
                          Field="@nameof(ToDoTaskDto.IsDone)"
                          Hideable="false"
                          Groupable="false"
                          Title="">
            <CellTemplate>
                @if (HasUpdatePermission)
                {
                    <MudCheckBox T="bool" Checked="@context.Item.IsDone" CheckedChanged="@(_ => ToggleDone(context.Item))"/>
                }
            </CellTemplate>
        </MudBlazor.Column>
        <MudBlazor.Column T="ToDoTaskDto"
                          Field="@nameof(ToDoTaskDto.Name)"
                          Hideable="false"
                          Groupable="false"
                          Title=@L["Name"]>
            <CellTemplate>
                <SeverityAlert Severity="@context.Item.Severity" Text="@context.Item.Name"/>
            </CellTemplate>
        </MudBlazor.Column>
        <MudBlazor.Column T="ToDoTaskDto"
                          Field="@nameof(ToDoTaskDto.Description)"
                          Title=@L["Description"]
                          Groupable="false" />
        <ProjectColumn T="ToDoTaskDto"/>
        <LabelColumn T="ToDoTaskDto" />
    </Columns>
</MudDataGrid>

<MudDialog @bind-IsVisible="CreateDialogVisible" 
           Options="DialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">@L["NewToDoTask"]</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@NewEntity"
                 @ref="CreateForm">
            @taskForm(NewEntity)
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Secondary" 
                   OnClick="CloseCreateModalAsync">
            @L["Cancel"]
        </MudButton>
        <MudButton Variant="Variant.Filled" 
                   Color="Color.Primary" 
                   OnClick="CreateEntityAsync">
            @L["Save"]
        </MudButton>
    </DialogActions>
</MudDialog>

<MudDialog @bind-IsVisible="EditDialogVisible"
           Options="DialogOptions">
    <TitleContent>
        <MudText Typo="Typo.h6">@EditingEntity.Name</MudText>
    </TitleContent>
    <DialogContent>
        <MudForm Model="@EditingEntity"
                 @ref="EditForm">
            @taskForm(EditingEntity)
        </MudForm>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Secondary" 
                   OnClick="CloseEditModalAsync">
            @L["Cancel"]
        </MudButton>
        <MudButton Variant="Variant.Filled" 
                   Color="Color.Primary" 
                   OnClick="UpdateEntityAsync">
            @L["Save"]
        </MudButton>
    </DialogActions>
</MudDialog>

@code
{
    public ToDoTasksPage()
    {
        LocalizationResource = typeof(ProjectsProjectResource);
    }

    public async Task ToggleDone(ToDoTaskDto project)
    {
        project.IsDone = !project.IsDone;
        await AppService.SetDone(project.Id, project.IsDone);
        await InvokeAsync(StateHasChanged);
    }
}
